API_ID=17075103
API_HASH=097920d1b5cd9c2d417c60ce680b9c43
AUTO_LEAVING_ASSISTANT=True
BOT_TOKEN=6417202271:AAGGeOlIvOGzwG4Hi4Qoj5xGoQsmpcWehN4
DURATION_LIMIT=5000
MONGO_DB_URI=mongodb+srv://kazumusik:kazumusik@cluster0.4lhw10l.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-1001837838911
MUSIC_BOT_NAME=Kazu x Robot
OWNER_ID=5570926583
STRING_SESSION1=BQBxA4izGHPKUsBXT1HQvSOKXYvThE6PFiX6V0UZ-psmzX1wpZUzesCknaMIyt2bXoal10GAwsyM7m_4UfOCLNxz2VOTHkCzmSbjEig5A0vvyTH_wEL7ikzUwS8-pUBN0GEtyV3aB1r3oV18m_SKbJL22_0F-nDXbeKFZgPseDUP1P7eb2AvRcXGiCKLss35uogGZs9m8al8aFZ71ay0Fa9QkkK77dGk1VYjbDpOSmt4uG1EjQ4J7cpZFK6p1tSC2fBTmQVD6cw5jJQsEt7j7p_IAzQibKiTCV9iUNzQmBSKgokC-sUJpESRCoEyruvLa_KWEs4XTnV36S6IBT_W7YjbT6IMjwA
UPSTREAM_BRANCH=main
UPSTREAM_REPO=https://github.com/ionmusic/Kazu-Music
